.App {
  text-align: center;
}

.ui.secondary.inverted.menu {
  background-color: #FFFBEF;
  color: #15263D !important;
}

.NavHeader {
  font-family: Rakkas !important;
  font-style: normal;
  font-weight: normal;
  font-size: 16px !important;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #15263D !important;
  border-bottom: 1px solid #FF5500 !important;
}

.active {
  color: #FF5500 !important;
  background: none !important;
}

a:hover{
  background: none !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}